@model AvansSurplusMealService.ViewModels.AdminVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<section class="container">
    <div class="row">
        <h1 class="col-5">Personeels lijst</h1>
        <div class="col-7">
            <button>
                Toevoegen
            </button>
        </div>
    </div>

    <div class="row">

    
    <table>
        <tbody>
            <tr>
                <th>Naam</th>
                <th>Email</th>
                <th>Kantine</th>
                <th>Locatie</th>
                <th>Stad</th>
                <th>Geactiveerd</th>
            </tr>
            @foreach(var personel in Model.PersonelList){
                <tr>
                    <td>@personel.Name</td>
                    <td>@personel.Email</td>
                    <td>@personel.cantine.Location</td>
                    <td>@personel.cantine.City</td>
                    <td>Onbekend</td>
                </tr>
            }
        </tbody>
        </table>
    </div>
</section>
